@inherits LayoutComponentBase

    <Toast />
    <body>
        <NavMenu />

        <div class="container-fluid" style="margin-top: inherit; min-height: 570px;">
            @Body
        </div>
        <footer class="border text-center text-muted">
            <div class="container">

                <p>Solutiion</p>

            </div>
        </footer>
    </body>

